.w-1 { width : 70px;margin-bottom: 10px;margin-right: 5px;margin-left: 5px;float: left; }
.w-2 { width : 200px;margin-bottom: 10px;margin-right: 5px;margin-left: 5px;float: left; }
.w-3 { width : 230px;margin-bottom: 10px;margin-right: 5px;margin-left: 5px;float: left; }
.w-4 { width : 310px;margin-bottom: 10px;margin-right: 5px;margin-left: 5px;float: left; }
.w-5 { width : 390px;margin-bottom: 10px;margin-right: 5px;margin-left: 5px;float: left; }
.w-6 { width : 470px;margin-bottom: 10px;margin-right: 5px;margin-left: 5px;float: left; }
.w-7 { width : 550px;margin-bottom: 10px;margin-right: 5px;margin-left: 5px;float: left; }
.w-8 { width : 630px;margin-bottom: 10px;margin-right: 5px;margin-left: 5px;float: left; }
.w-9 { width : 710px;margin-bottom: 10px;margin-right: 5px;margin-left: 5px;float: left; }
.w-10 { width : 740px;margin-bottom: 10px;margin-right: 5px;margin-left: 5px;float: left; }
.w-11 { width : 870px;margin-bottom: 10px;margin-right: 5px;margin-left: 5px;float: left; }
.w-12 { width : 950px;margin-bottom: 10px;margin-right: 5px;margin-left: 5px;float: left; }